<ul>
  <% @stories.each do |story| %>
    <li><%= link_to story.name, story_path(story) %></li>
  <% end %>
</ul>
<%= link_to "New Story", new_story_path %>
<%= link_to "Check out your cards", cards_path %>
